<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/css/style.css">
    
    <title>Trivia</title>
</head>
<body>
    <header class="head">
        <h1>Diondre Vue's Portfolio<i class="fas fa-check" aria-hidden="true"></i></h1>
        <nav>
            <ul id="nav_bar">
                <li><a href="/">Homepage</a></li>
                <li><a href="/my_resume">My Resume</a></li>
                <li><a href="/fun_facts">Facts About Me</a></li>
                <li><a href="/trivia">Trivia</a></li>
            </ul>
        </nav>
    </header>

    <main id="triv_main">
        <section id="trivia_sect">

            <form action="/idek/" method="post" class="trivia_form">
                <label for="q1">1. What is 2+1?
                    <br>
                    a) 1
                    <br>
                    b) 2
                    <br>
                    c) 3
                </label>
                <br>
                <input type="text" name="a1" placeholder="Enter answer...">
                <br>                     
            
                <label for="q2">2. What is 1+2?
                    <br>
                    a) 160
                    <br>
                    b) 3
                    <br>
                    c) 12
                </label>
                <br>
                <input type="text" name="a2" placeholder="Enter answer...">
                <br>      
            
                <label for="q3">3. What is 1+1?
                    <br>
                    a) Me and you
                    <br>
                    b) 240
                    <br>
                    c) 2
                </label>
                <br>
                <input type="text" name="a3" placeholder="Enter answer...">
                <br>   
            
                <label for="q4">4. What is 1+0?
                    <br>
                    a) 1
                    <br>
                    b) Alone
                    <br>
                    c) 0
                </label>
                <br>
                <input type="text" name="a4" placeholder="Enter answer...">
                <br>
           
                <label for="q5">5. What is 6+9?
                    <br>
                    a) 69
                    <br>
                    b) 15
                    <br>
                    c) 12
                </label>
                <br>
                <input type="text" name="a5" placeholder="Enter answer...">
                <br>
           
                <input type="submit" value="Get results">
            </form>
            
        </section>
    </main>


    <hr>

    <footer class="foot">
        <i class="fab fa-linkedin" aria-hidden="true"></i> 
        LinkedIn: linkedin.com/in/diondre-vue-7b2b331b8
        
        <br>
        <i class="fas fa-envelope-square" aria-hidden="true"></i>
        Email: dvue@oakland.edu
        
        <br>
        <i class="fab fa-youtube" aria-hidden="true"></i>
        YouTube: DLOLFactor
        
        <br>
        Copyright &copy; 2021, NojMov All rights reserved.
    </footer>
    
</body>
</html>