<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../public/js/trivia.js" defer></script>
    
    <title>Trivia</title>
</head>
<body>
    <header class="head">
        <h1>Diondre Vue's Portfolio<i class="fas fa-check" aria-hidden="true"></i></h1>
        <nav>
            <ul id="nav_bar">
                <li><a href="/">Homepage</a></li>
                <li><a href="/my_resume">My Resume</a></li>
                <li><a href="/fun_facts">Facts About Me</a></li>
                <li><a href="/trivia">Trivia</a></li>
            </ul>
        </nav>
    </header>

    <main id="triv_main">
        <section id="trivia_sect">
            <form action="/idek/" method="post" id="trivia_form">
                <label for="q1">What is 2+1?</label>
                <br>
                <input type="text" name="a1" placeholder="Enter answer...">
                <br>

                <label for="q2">What is 1+2?</label>
                <br>
                <input type="text" name="a2" placeholder="Enter answer...">
                <br>

                <label for="q3">What is 1+1?</label>
                <br>
                <input type="text" name="a3" placeholder="Enter answer...">
                <br>

                <label for="q4">What is 1+0?</label>
                <br>
                <input type="text" name="a4" placeholder="Enter answer...">
                <br>

                <label for="q5">What is 6+9? 69 or 15?</label>
                <br>
                <input type="text" name="a5" placeholder="Enter answer...">
                <br>

                <label for="q6">Do you love me?</label>
                <br>
                <input type="text" name="a6" placeholder="Enter answer...">
                <br>

                <input type="submit" value="Submit" id="button">
            </form>


        </section>
    </main>


    <hr>

    <footer class="foot">
        <i class="fab fa-linkedin" aria-hidden="true"></i> 
        LinkedIn: linkedin.com/in/diondre-vue-7b2b331b8
        
        <br>
        <i class="fas fa-envelope-square" aria-hidden="true"></i>
        Email: dvue@oakland.edu
        
        <br>
        <i class="fab fa-youtube" aria-hidden="true"></i>
        YouTube: DLOLFactor
        
        <br>
        Copyright &copy; 2021, NojMov All rights reserved.
    </footer>
    
</body>
</html>