body{
    background-color: rgb(248, 230, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

i{
    color: rgba(0, 0, 0);
}

#nav_bar{
    list-style: none;
    background-color: rgb(247, 220, 189);
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: groove;
    border-color: black;
    width: 100%;
}

li{
    float: left;
    width: 25%;
}

li a{
    display: block;
    text-align: center;
    margin: auto;
    padding: 14px 16px;
    color: black;
    border-right: groove;
    border-left: groove;
    font-size: 20px;
}

li a:hover{
    background: rgb(192, 161, 122);
}

#main_heading{
    text-align: center;
    font-size: 40px;
}

h2, h3, h4, h5, h6{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(192, 161, 122
    );
}

.sect_r{
    border-style: groove;
    border-color: rgba(0, 0, 0);
}

.contents {
    text-align: center;
}

#twm{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#track{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mov{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#me{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
}

#triv_main{
    border: groove;
    margin: 5px;
}

#Education {
    margin-left: auto;
    margin-right: auto;
}
